{% extends '_layout' %}
{% block META_TITLE %}{{ siteName }} страница не найдена {% endblock %}
{% block META_KEYWORDS %}{{ siteName }}{% endblock %}
{% block META_DESCRIPTION %}{{ siteName }} страница не найдена{% endblock %}

{% block SETTINGS %}
    {% set page_name = craft.app.request.segments|first %}
{% endblock %}

{% block header %}
    {% include 'partials/_header' with {'active_page': '404'} %}
{% endblock %}

{% block pageheader %}
    <div class="row">
        <div class="col-md-12 align-self-center order-1">
            <ul class="breadcrumb d-block text-left">
                <li><a href="/">Главная</a></li>
            </ul>
        </div>
    </div>
        <div class="row">
            <div class="col p-static">
                <span class="page-header-title-border visible" style="width: 270.396px;"></span>
                <h1 data-title-border="">404 - Страница не найдена</h1>
            </div>

    </div>
{% endblock %}

{% block content %}
    <section class="http-error">
        <div class="row justify-content-center py-3">
            <div class="col-md-7 text-center">
                <div class="http-error-main">
                    <h2>404!</h2>
                    <p>Изините, но мы не можем найти такую страницу.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

