{% block SETTINGS %}{% endblock %} {# !important #}
<!DOCTYPE html>
<html>
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="WAGOOD@YANDEX.RU">
    {% block head %}
        {# DISABLED BECAUSE SEOMATIC #}
        {#<title>{% block META_TITLE %}{{ siteName }}{% endblock %}</title>#}
        {#<meta name="keywords" content="{% block META_KEYWORDS %}{{ siteName }}{% endblock %}" />#}
        {#<meta name="description" content="{% block META_DESCRIPTION %}{{ siteName }}{% endblock %}">#}
    {% endblock %}

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/assets/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="/assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/css/theme.css">
    <link rel="stylesheet" href="/assets/css/theme-elements.css">
    <link rel="stylesheet" href="/assets/css/theme-blog.css">
    <link rel="stylesheet" href="/assets/css/theme-shop.css">

    <!-- Demo CSS -->
    
    <!-- Skin CSS -->
    <link rel="stylesheet" href="/assets/css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/assets/css/custom.css">

    <!-- Head Libs -->
    <script href="/assets/vendor/modernizr/modernizr.min.js"></script>

    {% do view.registerAssetBundle("craft\\web\\assets\\prismjs\\PrismJsAsset") %}

</head>
<body>

<div class="body">

    {% block header %}{% endblock %} {# !important #}

    <div role="main" class="main">

        <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
            <div class="container">
                {% block pageheader %}{% endblock %}
            </div>
        </section>

        <div class="container py-4">
            {% block content %}{% endblock %}
        </div>

    </div>

    <footer id="footer">
        {% block footer %}{% include 'partials/_footer' %}{% endblock %}
    </footer>
</div>

<!-- Vendor -->
<script href="/assets/vendor/jquery/jquery.min.js"></script>
<script href="/assets/vendor/jquery.appear/jquery.appear.min.js"></script>
<script href="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script href="/assets/vendor/jquery.cookie/jquery.cookie.min.js"></script>
<script href="/assets/vendor/popper/umd/popper.min.js"></script>
<script href="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script href="/assets/vendor/common/common.min.js"></script>
<script href="/assets/vendor/jquery.validation/jquery.validate.min.js"></script>
<script href="/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script href="/assets/vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script href="/assets/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script href="/assets/vendor/isotope/jquery.isotope.min.js"></script>
<script href="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script href="/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script href="/assets/vendor/vide/jquery.vide.min.js"></script>
<script href="/assets/vendor/vivus/vivus.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script href="/assets/js/theme.js"></script>

<!-- Theme Custom -->
<script href="/assets/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script href="/assets/js/theme.init.js"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(48206732, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/48206732" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


{% block FOOT %}{% endblock %} {# !important #}
</body>
</html>
