{% extends '_layout' %}
{% block META_TITLE %}{{ siteName }}{% endblock %}
{% block META_KEYWORDS %}{{ siteName }}{% endblock %}
{% block META_DESCRIPTION %}{{ siteName }}{% endblock %}
{% set blogQuery = craft.entries().section('blog').with(['imagePreview']).limit(5) %}
{% paginate blogQuery as pageInfo, pageEntries %}

{% block SETTINGS %}
    {% set page_name = craft.app.request.segments|first %}
{% endblock %}

{% block header %}
    {% include 'partials/_header' with {'active_page': 'index'} %}
{% endblock %}

{% block pageheader %}
    <div class="row">
        <div class="col-md-12 align-self-center p-static order-2 text-center">
            <h1 class="text-dark font-weight-bold text-8">{{ siteName }}</h1>
            <span class="text-dark sub-title"></span>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col">
            <div class="blog-posts">
                {% for entry in pageEntries %}
                    {% include 'partials/_entry.list' with {'entry': entry} %}
                {% endfor %}

                {# ПАГИНАЦИЯ #}
                {% include 'partials/_entry.pagination' with {'pageInfo': pageInfo} %}
            </div>
        </div>

    </div>
{% endblock %}

{% block FOOT %}{% endblock %}

